<#macro footer>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active" href="#love">
		<span class="mui-icon iconfont icon-02"></span>
		<span class="mui-tab-label">一见钟情</span>
	</a>
	<a class="mui-tab-item" href="#fabu">
		<span class="mui-icon iconfont icon-fabu"></span>
		<span class="mui-tab-label">我要征婚</span>
	</a>
	<a class="mui-tab-item" href="#mine">
		<span class="mui-icon iconfont icon-ziyuan"><span class="mui-badge">9</span></span>
		<span class="mui-tab-label">个人中心</span>
	</a>
</nav>
</#macro>