<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-bar {
				background-color: #853390 !important;
			}
			
			.mui-title {
				color: #f7e9e9 !important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#f7e9e9;"></a>
			<h1 id="title" class="mui-title">收到私信</h1>
			<!--<a href="#" class="mui-icon mui-icon-navigate mui-pull-right" style="color:#f7e9e9;"></a>-->
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="mui-card-header">发件人：晓霞</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）
					</div>
				</div>
				<div class="mui-card-footer">日期：2018.10.12</div>
			</div>
			<div class="mui-card">
				<div class="mui-card-header">发件人：晓霞</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）
					</div>
				</div>
				<div class="mui-card-footer">日期：2018.10.12</div>
			</div>
			<div class="mui-card">
				<div class="mui-card-header">发件人：晓霞</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						包含页眉页脚的卡片，页眉常用来显示面板标题，页脚用来显示额外信息或支持的操作（比如点赞、评论等）
					</div>
				</div>
				<div class="mui-card-footer">日期：2018.10.12</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
	</script>

</html>