<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-bar {
				background-color: #853390 !important;
			}
			
			.mui-title {
				color: #f7e9e9 !important;
			}
			
			.mui-input-group .mui-input-row {
				height: 100%;
			}
			
			.mui-input-row textarea {
				height: 100px;
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#f7e9e9;"></a>
			<h1 class="mui-title">晓霞的信息</h1>
			<a href="sendmail.html" class="mui-icon mui-icon-email mui-pull-right" style="color:#f7e9e9;"></a>
			<!--style="color:#f7e9e9;"-->
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>姓名</label>
					<input type="text" class="mui-input-clear" value="晓霞" disabled="disabled">
				</div>
				<div class="mui-input-row">
					<label>生日</label>
					<input type="text" id="shengri" class="mui-input-clear" value="1987-10-15" disabled="disabled">
				</div>
				<div class="mui-input-row ">
					<label>性别</label>
					<input type="text" class="mui-input-clear" value="女" disabled="disabled">
				</div>

				<div class="mui-input-row">
					<label>住址</label>
					<input type="text" id="address" class="mui-input-clear" value="湖南 长沙" disabled="disabled">
				</div>
				<div class="mui-input-row">
					<label>手机</label>
					<input type="text" class="mui-input-clear" value="保密" disabled="disabled">
				</div>
				<div class="mui-input-row">
					<label>微信号</label>
					<input type="text" class="mui-input-clear" value="保密" disabled="disabled">
				</div>
				<div class="mui-input-row">
					<textarea class="mui-input-clear" placeholder="个性签名..." disabled="disabled">个性签名:我很好，不需要找朋友。</textarea>
				</div>
				<div class="mui-input-row">
					<textarea class="mui-input-clear" placeholder="个人简介..." disabled="disabled">个人简介:我很好，不需要找朋友。我很好，不需要找朋友。</textarea>
				</div>
				<div style="height: auto;width: 100%;margin: 5px 0;text-align: center;">
					<div style="height: auto;width: 100%;padding: 2px 15px;">
						<div style="height:auto;width: 100%;">
							<img src="images/2.jpg" style="height:auto;width: 100%;" />
						</div>
						<div style="height:auto;width: 100%;">
							<img src="images/1.jpg" style="height:auto;width: 100%;" />
						</div>
					</div>

				</div>
			</form>

		</div>

	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
	</script>

</html>